



{% extends 'base.html' %}
{% block content %}


    

    


  
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            {%if g.user%}
            <h1 class="display-4 fw-bolder">관리자 페이지</h1>
            {%else%}
            <h1 class="display-4 fw-bolder">juyun cafe</h1>
            <p class="lead fw-normal text-white-50 mb-0">아주 맛있습니다.</p>
            {%endif%}
            
        </div>
    </div>
</header>
<!-- 메뉴추가-->
{%if g.user%}
<a href="{{ url_for('question.create') }}" class="btn btn-primary">메뉴 추가하기</a>
{%endif%}
<!-- 질문 목록 -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
{% if question_list %}
    {% for question in question_list %}
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="/static/image/{{question.subject}}" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{ question.content }}</h5>
                    <!-- Product price-->
                    {{ question.price }}
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                {%if g.user%}
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('question.detail', question_id=question.id) }}">메뉴편집</a></div>
                {%else%}

                <div class="text-center">

                    <form action="{{ url_for('question.add_to_cart') }}" method="post">
                        <input type="hidden" name="question_id" value="{{ question.id }}">
                        <input type="hidden" name="price" value="{{ question.price }}">
                        <div class="row">
                            <div class="col">
                                <input type="number" name="quantity" value="1" min="1" class="form-control w-100" style="overflow: hidden;" onmouseover="this.style.overflow = 'auto';" onmouseout="this.style.overflow = 'hidden';">

                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-outline-dark mt-auto">메뉴담기</button>
                            </div>
                        </div>
                    </form>
     
               </div>
              
                {%endif%}
            </div>
        </div>
    </div>

    {% endfor %}
{% else %}
    <p>질문이 없습니다.</p>
{% endif %}


</div>
</div>
</section>



 <!-- Bootstrap core JS-->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
 <!-- Core theme JS-->
 <script src="js/scripts.js"></script>


{% endblock %}